.formulario{
    width:35% !important;
    border-radius:10px !important;
    display:flex;
    flex-direction:column;
    /* margin-left:34%; */
    margin: 0 auto !important;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items:center !important;
    row-gap: 10px !important;
    padding:20px !important;
    color:white !important;
    background:#007385 !important;
}

input{
    width: 85% !important;
    border-radius: 2rem !important;
}

#checkbox{ 
    transform: scale(2.5); 
    -ms-transform: scale(2.5); 
    -webkit-transform: scale(2.5); 
    width: 11px !important;
    padding: 10px; 
}

.tituloTarjeta{
    color: #f5b735 !important;
    font-weight: 400 !important;
}

.btn .btn-success{
    font-weight: 800;
}

.cuerpo{
    margin-bottom: 15px !important;
}

